
<div class="container">
  <%= form_tag(search_pawns_path, :method => "get") do %>
    <div class="row">
      <h2>Search for your Pawn</h2>
      <p>In order to validate you are the pawn holder you must enter the name on your pawn ticket and the pawn number.</p>
      <div class="col-lg-8">
        <div class="input-group">
          <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-default" %>
          </span>
          <%= text_field_tag :search_name, params[:search_name], placeholder: "Search for Name", class: "form-control" %>
          <%= text_field_tag :search_number, params[:search_number], placeholder: "Search for Pawn Number", class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
</div>



