
<p>
  <strong>Pawn Number:</strong>
  <%= @pawn.pawn_number %>
</p>
 
<p>
  <strong>Name</strong>
  <%= @pawn.name %>
</p>

<%= link_to 'Edit', edit_pawn_path(@pawn) %> |
<%= link_to 'Back', pawns_path %>