<div class="footer navbar sticky-bottom ">
  <div class="row">
    <div class="col-md-3">
      <a class="nav-link active" href="/">Home</a>
    </div>
    <div class="col-md-4">
      <p><strong>Contact Us</strong></p>
    </div>
    <div class="col-md-5">
      <p>Tues - Sat: 10:00 am - 5:00 pm</p>
    </div>
  </div>

    <div class="row">
    <div class="col-md-3">
      <a class="nav-link active" href="/pawns">Pawn</a>
    </div>
    <div class="col-md-4">
      <p>(208)522-6114</p>
    </div>
    <div class="col-md-5">
      <p>Sun - Mon: Closed</h1>
    </div>
  </div>

    <div class="row">
    <div class="col-md-3">
      <a class="nav-link active" href="/pages/layaway">Layaway</a>
    </div>
    <div class="col-md-4">
      <p>365 park Avenue</p>
    </div>
    <div class="col-md-5">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a class="nav-link" href="/pages/biker">Motorcycle Clothing</a>
    </div>
    <div class="col-md-4">
      <p>Idaho Falls, ID 83402</p>
    </div>
    <div class="col-md-5">
      <p></p>
    </div>

  </div>
    <div class="row">
    <div class="col-md-3">
     <a class="nav-link" href="/pages/contact">Contact</a>
    </div>
    <div class="col-md-4">
      <p></p>
    </div>
    <div class="col-md-5">
      <p></p>
    </div>
  </div>
</div>
