<div class=" header jumbotron jumbotron-fluid" style="background-color: white; height: 6em; padding-top: 0px; margin: 0px; ">
  <div class="row">
    <h1 class="display-3" style="display: block; margin: auto; width: auto; font-size: 4em;">Variety Mart</h1>
  </div>
</div>
<div class="row" style="background-color: grey; margin-top: 0px;">
  <div class="container-fluid" style="display: block; width: auto; background-color: grey; margin-left: auto;">
    <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/pawns">Pawn</a>
        <a class="dropdown-item" href="/pages/layaway">Layaway</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/pawns/new">New Pawn</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clothing</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/pages/biker">Motorcycle</a>
        <a class="dropdown-item" href="/pages/bigAndTall">Big and Tall</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/contact">Contact</a>
    </li>
    </ul>
  </div>
</div>


