<div class="container">
<h1 style="color: #5d97f4; font-size: 2em;">Shopping</h1>
<p style="font-size: 1em;">Check out our second store, Big and Tall Leathers All. Here we have an assortment of Big and Tall Clothing ranging from shoes, to pants, and shirts. Our leather department has accessories for motorcycle riders such as helmets, chaps, gloves, bells, and more...</p>
  

<div class="row" style="margin-left: 15%;">   
 <div class="card-columns biker">
  <div class="col-md-6">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Norton_Motorcycle.jpg/1200px-Norton_Motorcycle.jpg" alt="Card image cap">
    <div class="card">
      <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">

      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Motorcyclist
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <ul>
            <li>Men and Women's Leather Jackets</li>
            <li>Bandanas</li>
            <li>Helmets</li>
            <li>Bells</li>
            <li>Chaps</li>
            <li>Vests</li>
            <li>Boots</li>
            <li>Saddle Bags</li>
            <li>Blankets</li>
            <li>Shirts</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>


        <div class="col-md-6">
          <div class="card" style="width: 20rem;">
      <img class="card-img-top img-fluid" src="http://i.ebayimg.com/00/s/MjM2WDMxNQ==/z/LIIAAOSwN6JY-mgy/$_57.JPG?set_id=80000000000" alt="Card image cap">
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Big and Tall Leathers All
            </a>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <ul>
              <li>All Clothing Plus Size</li>
              <li>Shirts</li>
              <li>Ties</li>
              <li>Belts</li>
              <li>Underwear</li>
              <li>Socks</li>
              <li>Dress Shoes</li>
            </ul>
          </div>
        </div>
        </div>

      </div>
      </div>

  </div>
</div>
</div>
</div>
