<div class="container">
<h1>Shopping</h1>
<p>Check out our second store, Big and Tall Leathers All. Here we have an assortment of Big and Tall Clothing ranging from shoes, to pants, and shirts. Our leather department has accessories for motorcycle riders such as helmets, chaps, gloves, bells, and more...</p>
  
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</div>