  

  <div class="container" style="width:44em;height:37em; margin-bottom: 230px; ">
    <h2 style="color: #5d97f4; font-size: 2em;">About Us</h2>
    <p>Variety Mart is a family owned business that has been helping those in Idaho Falls for 32 years. We love doing business with those in our community and we strive to provide quality items at amazing prices. We have new and used items, and we are constantly getting new inventory in. If you have not yet been into our store come check it out!</p>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="border: solid grey 9px;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag "store2.JPG", class: "d-block img-fluid", alt: "First slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "store5.JPG", class: "d-block img-fluid", alt: "First slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "store4.JPG", class: "d-block img-fluid", alt: "First slide" %>
        </div>
      </div>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    </div>
    <div class="row" style="margin-top: 1em;">
      <div class="col-md-6">
        <div class="row">
          <h2 style="color: #5d97f4; font-size: 2em; margin: auto;">Business Hours</h2>
        </div>        
        <div class="row">
          <p style="margin: auto;">Tues-Sat: 10:00am-6:00pm</p>
        </div>        
        <div class="row">
          <p style="margin: auto;">Sun-Mon: Closed</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h2 style="color: #5d97f4; font-size: 2em; margin: auto;">Contact</h2>
        </div>        
        <div class="row">

          <p style="margin: auto;"><i class="fa fa-phone" aria-hidden="true" style="color: blue;"></i> (208)522-6114</p>
        </div>        
        <div class="row">
          <p style="margin: auto;"><i class="fa fa-map-marker" style="color: blue;" aria-hidden="true"></i>
 365 Park Ave</p>
        </div>        
        <div class="row">
          <p style="margin: auto;">Idaho Falls, ID 83402</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-bottom: 20em; height: 13em; padding-top: 80px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2894.476994523794!2d-112.04347908402659!3d43.49238397912712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5354594ff27940b9%3A0xc17b0d54789c82b3!2s365+Park+Ave%2C+Idaho+Falls%2C+ID+83402!5e0!3m2!1sen!2sus!4v1498151231626" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
  </div>
