<div class="container">
  <h2 style="color: #5d97f4;">Shopping and Cash Loans</h2>
  <p>Welcome to Variety Mart! For 32 years, we have been providing great values on pre-owned merchandise, and providing dependable loans. Shop at our location for the best deals on: tools, electronics, knives, musical instruments, sporting equipment, biker clothing, big and tall men's clothing, furniture, and much more! Our inventory continues to grow daily at the fraction of the price.</p>
  <p>Variety Mart provides pawn loans. Get the cash you need to cover unanticipated expenses and bills. Contact us to learn more about our pawn loan process.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-left card-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Norton_Motorcycle.jpg/1200px-Norton_Motorcycle.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="card">
        <img class="card-img-left card-picture" src="http://image.dhgate.com/0x0/f2/albu/g4/M00/9E/8B/rBVaEVcHBZmASlz4AAFDyqigdEY067.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-left card-picture" src="https://content.artofmanliness.com/uploads/2012/02/Fat-Wallet-400.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-left card-picture" src="https://images-na.ssl-images-amazon.com/images/I/91EzEngj77L._SY355_.jpg" alt="Card image cap">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <img class="card-img big-picture-picture" src="http://static.tvtropes.org/pmwiki/pub/images/piggy_bank_8881.jpg" alt="Card image cap">
    </div>
  </div>
</div>




