<div class="container">
  <h2 style="color: #5d97f4;">Shopping and Cash Loans</h2>
  <p>Welcome to Variety Mart! For 32 years, we have been providing great values on pre-owned merchandise, and providing dependable loans. Shop at our location for the best deals on: tools, electronics, knives, musical instruments, sporting equipment, biker clothing, big and tall men's clothing, furniture, and much more! Our inventory continues to grow daily at the fraction of the price.</p>
  <p>Variety Mart provides pawn loans. Get the cash you need to cover unanticipated expenses and bills. Contact us to learn more about our pawn loan process.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card1 card-img-left card-picture" alt="Card image cap"> </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="card">
        <div class="card2 card-img-left card-picture" alt="Card image cap"> </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card3 card-img-left card-picture" alt="Card image cap"> </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card4 card-img-left card-picture" alt="Card image cap"> </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <img class="card-img big-picture-picture" src="http://static.tvtropes.org/pmwiki/pub/images/piggy_bank_8881.jpg" alt="Card image cap">
    </div>
  </div>
</div>




