<div class="container">
  <h2 style="color: #5d97f4;">Layaway</h1>
  <p>Find something that you like, yet can't pay for it right away? Don't worry, we do no interest lay-a-way plans. We require a mere 15% down on the item. From there we will keep your item tucked away safely. When the item is paid in full you can take it home with you.</p>

  <img src="http://www.takamine.com/templates/default/images/gclassical.png" style="border: 6px solid grey; margin-top: 30px; margin-bottom: 30px;">

  <h2 style="color: #5d97f4;">What is a layaway?</h2 style="color: #5d97f4; font-size: 2em;">
  <p>is a method of securing an item that you would like without paying the full amount up front.</p>
  <h2 style="color: #5d97f4;">Is a credit check required?</h2 style="color: #5d97f4; font-size: 2em;">
  <p>No. The only requirement is a valid photo ID.</p>
  <h2 style="color: #5d97f4;">Is there a minimum payment amount required each month?</h2 style="color: #5d97f4; font-size: 2em;">
  <p>Yes. The minimum payment allowed each month is $5.00.</p>
  <h2 style="color: #5d97f4;">Will my item be safe?</h2 style="color: #5d97f4; font-size: 2em;">
  <p>Yes. Your item will be kept in a secured back room. We do our best to keep our customers items protected.</p>
</div>