<% content_for :title, "Pawn for Cash" %>

<div class="container">

<h2 style="color: #5d97f4; font-size: 2em;">Cash Loans</h1>
<p>Bills happen, so get the cash you need to cover those unexpected circumstances. Variety Mart provides pawn loans. Its easy, fast, and very convenient</p>

<div class="row" style="margin: auto;">
  <div class="col-md-6" style="border: 4px solid grey;">
    <h1 style="color: grey; text-align: center; font-size: 4em;">Find</h1>
    <h1 style="color: grey; text-align: center; font-size: 4em;">the cash</h1>
    <h1 style="color: grey; text-align: center; font-size: 4em;">that you</h1>
    <h1 style="color: grey; text-align: center; font-size: 4em;">need!</h1>
  </div>
  <div class="col-md-6">
    <img style="max-width: 30em; max-width: 30em;" src="http://cdn.thecoolist.com/wp-content/uploads/2016/03/RFID-Dash-4.0-minimalist-wallet-2.jpg">
  </div>
</div>



<h2 style="color: #5d97f4; font-size: 2em;">What's a pawn loan?</h2 style="color: #5d97f4; font-size: 2em;">
<p>A pawn loan is another name for a collateral loan. This is when money is lent in exchange for items of value, with the loan amount based on that item's value. The item is returned when the loan is paid off, or can be surrendered as payment in full.</p>
<h2 style="color: #5d97f4; font-size: 2em;">Is a credit check required for a pawn loan?</h2 style="color: #5d97f4; font-size: 2em;">
<p>No. The only requirement is a valid photo ID.</p>
<h2 style="color: #5d97f4; font-size: 2em;">What items can be pawned?</h2 style="color: #5d97f4; font-size: 2em;">
<p>A wide variety of items can be pawned, including, but not limited to:</p>
<ul>
  <li>Gold and diamond jewelry</li>
  <li>Musical instruments</li>
  <li>Televisions</li>
  <li>Electronics</li>
  <li>Tools</li>
  <li>Household Items</li>
  <li>Laptops and tablets</li>
  <li>Cellphones</li>
  <li>Art and collectibles</li>
  <li>Sports, outdoor, and recreational equipment</li>
  <li>Gas or electric powered equipment</li>
</ul>
<h2 style="color: #5d97f4; font-size: 2em;">What items cannot be pawned?</h2 style="color: #5d97f4; font-size: 2em;">
<ul>
  <li><strong>Tube televisions</strong></li>
  <li><strong>Firearms</strong></li>
  <li><strong>Bracelets/watches</strong></li>
  <li><strong>VCR's</strong></li>
</ul>

</div>