<div class="container">

<h2>Shopping</h2>
<p>Welcome to Variety Mart! For 32 years, we have been providing great value on pre-owned merchandise, and providing dependable loans. Shop at our location for the best deals on: tools, electronics, knives, instruments, sporting equipment, biking clothing, big and tall men's clothing, furniture, and much more. Our inventory continues to grow daily at the fraction of the price.</p>
<p>we do Lay-a-way! and Pawns!</p>

<div class="row">
  <div class="col-md-4">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top img-fluid" src="http://media.guitarcenter.com/is/image/MMGS7/2017-SE-Custom-24-Creme-Binding-Electric-Guitar-Cherry-Sunburst/J47047000001000-00-500x500.jpg" alt="Card image cap">
        <div class="card-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Instruments
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <ul>
                  <li>Guitars</li>
                  <li>Amps</li>
                  <li>Drums</li>
                  <li>Accordians</li>
                  <li>Trombones</li>
                  <li>Flutes</li>
                  <li>Violins</li>
                  <li>Accessories</li>
                  <li>And More!</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top img-fluid" src="http://oses-store.com/wp-content/uploads/2013/07/Makita-Power-Tool-Range-1.jpg" alt="Card image cap">
        <div class="card-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Tools
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <ul>
                  <li>Drills</li>
                  <li>Routers</li>
                  <li>Saws</li>
                  <li>Hand Tools</li>
                  <li>Grinders</li>
                  <li>Air Compressors</li>
                  <li>Air Tools</li>
                  <li>Paint-sprayers</li>
                  <li>Tool Boxes</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

        <div class="card">
        <img class="card-img-top img-fluid" src="https://bnsec.bluenile.com/bluenile/is/image/bluenile/42029_HERO_0114_EVRGN_v2?$v2_4mainmod_lrg$&rgn=2300,2300,2500,0" alt="Card image cap">
        <div class="card-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Gold/Silver Rings
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="card-block">
                <ul>
                  <li>Wedding Rings</li>
                  <li>Engagement Rings</li>
                  <li>Friendship Rings</li>
                  <li>Birthstone Rings</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-md-4">
    <div class="card-columns">
    <div class="card">
    <img class="card-img-top img-fluid" src="http://compass.xbox.com/assets/57/b7/57b7d825-8039-4e0c-a80f-bde6f1086867.jpg?n=Nottingham-X1-Wireless-controller_accessories-page_377x212.jpg" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              Electronics
            </a>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="card-block">
            <ul>
              <li>Controllers</li>
              <li>Game Consoles</li>
              <li>Speakers</li>
              <li>Games and Accessories</li>
              <li>TV's</li>
              <li>Blue-ray Players</li>              
              <li>Vacuums</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top img-fluid" src="http://nebula.wsimg.com/bd65c6f26fce989f099df521f4261ea3?AccessKeyId=5317EFC25C62EB6155B3&disposition=0&alloworigin=1" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
              Outdoor Equipment
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="card-block">
            <ul>
              <li>Lawn Mowers</li>
              <li>Snow Blowers</li>
              <li>Weed Eaters</li>
              <li>Grass-Catchers</li>
              <li>Wheel Barrows</li>
              <li>Cement-Mixers</li>
              <li>Rakes/Shovels</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top img-fluid" src="https://images.knifecenter.com/knifecenter/resize/timthumb/timthumb.php?src=https://images.knifecenter.com/knifecenter/smith-and-wesson-knives/images/SWHRT9B.jpg&w=216&h=180" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
              Knives
            </a>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="card-block">
            <ul>
              <li>Combat Knives</li>
              <li>Throwing Knives</li>
              <li>Swords</li>
              <li>Collectable Knives</li>
              <li>Throwing Stars</li>
              <li>Self-defence</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    
    </div>    
  </div>
  <div class="col-md-4">
    <div class="card-columns">
   <div class="card">
    <img class="card-img-top img-fluid" src="http://i.huffpost.com/gen/1605280/images/o-CLOTHING0205-facebook.jpg" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
              Mens Big and Tall Clothing
            </a>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="card-block">
            <ul>
              <li>Shirts and Ties</li>
              <li>Slacks</li>
              <li>Jeans</li>
              <li>T-shirts</li>
              <li>Socks</li>
              <li>Underwear</li>
              <li>Shorts</li>
              <li>Swimming</li>
              <li>And More!</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> 

  <div class="card">
    <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv9OtaQloR_bya4IYY8EevS8ZXmlFBfgo0aiDf896xizTOUJDMEQ" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefifteen" aria-expanded="true" aria-controls="collapsefifteen">
              Motorcylce Clothing
            </a>
          </h5>
        </div>
        <div id="collapsefifteen" class="collapse" role="tabpanel" aria-labelledby="headingfifteen">
          <div class="card-block">
            <ul>
              <li>Leather Jackets</li>
              <li>Saddle Bags</li>
              <li>Chaps</li>
              <li>Vests</li>
              <li>Helmets</li>
              <li>Gloves</li>
              <li>Patches</li>
              <li>And More!</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top img-fluid" src="https://cdn.shopify.com/s/files/1/0799/9645/products/White_3-4_Left.jpg?v=1488398974" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
              Recreational Equipment
            </a>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="card-block">
            <ul>
              <li>Bikes</li>
              <li>Camping equipment</li>
              <li>Outdoor gear</li>              
              <li>Strollers</li>                            
              <li>Skies</li>                            
              <li>Snowboards</li>                            
              <li>Skateboards</li>                            
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="card">
    <img class="card-img-top img-fluid" src="http://www.vandijkantiques.com/wp-content/uploads/2014/11/dsc_13241.jpg" alt="Card image cap">
    <div class="card-block">
        <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
              Collectables
            </a>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="card-block">
            <ul>
              <li>Tupperware</li>
              <li>Stuff</li>
              <li>China</li>
              <li>Small Statues</li>
              <li>Pictures</li>
              <li>Door Beads</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>    
    </div>    
  </div>   
</div>



 



   

  </div>



</div>